.richEditor {
  background: #fff;
  font-family: 'Georgia', serif;
  font-size: 1em;
  border-radius: 5px;
}

.richEditor .panel,
.richEditor .content{
  padding: 15px;
}

.richEditor .panel{
  border: 1px solid #DDD;
  border-radius: 5px;
}

.richEditor .panel > div:nth-child(1){
  margin-top: 0;
}

.richEditor .panel > div{
  margin-top: 15px;
}

.richEditor .content,
.DraftEditor-root,
.DraftEditor-editorContainer,
.public-DraftEditor-content{
  min-height: 200px;
}